*.exe
*.o
*.lib
*.out
build/
build-win/
build-release/
callgrind.*
*.backup
*.txt
/Export/GGUI.h
/Export/*.json
/Export/Export_Git
/Export/json.hpp
*.zip
/Export/cpr/*
*.srctrldb
*.srctrlbm
*.gcda
/bin/GGUI.p/
*~
*.data
*.old
*.log
tester
*.a
*.tmp
/bin/export/GGUI.h