# A safe list of file extensions that have appeared in GGUI project history :)
*.exe
*.o
*.lib
*.out
*.backup
*.txt
*.zip
*.srctrldb
*.srctrlbm
*.gcda
*~
*.data
*.old
*.log
tester
*.a
*.tmp
*.asm

# For benchmarking
callgrind.*

# meson output directories
build/
build-win/
build-linux/
build-release/

# Custom output locations, since the headers can be easily re-generated or fetched from github releases.
/bin/ggui.p/
/bin/export/ggui.h
/bin/export/ggui_dev.h

# Probably from analytics? i don't quite remember why these are here :/
/export/*.json
/export/json.hpp