name: Nightly Builds

# Basically an automated ./bin/export.sh

on:
  push:
    branches: [ dev, docker, main ]
  pull_request:
    branches: [ dev, main ]

permissions:
  contents: read
  actions: read

concurrency:
  group: branch-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-all:
    runs-on: ubuntu-latest
    name: Build All binaries

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        run: ./bin/export.sh

      - name: Upload build artifacts
        run: |
          for f in bin/export/libggui* bin/export/*.h; do
            [ -e "$f" ] || continue
            name=$(basename "$f")
            gh run upload-artifact "$name" "$f"
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}